html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

* {
  box-sizing: border-box;
}

main {
  padding: 5rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

footer {
  width: 100%;
  height: 100px;
  border-top: 1px solid #eaeaea;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer img {
  margin-left: 0.5rem;
}

footer a {
  display: flex;
  justify-content: center;
  align-items: center;
}

a {
  color: inherit;
  text-decoration: none;
}

code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1.1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}

.ant-btn.ant-btn-primary {
  background-color: #0c5c6e !important;
  color: white !important;
}

.ant-btn.ant-btn-primary:hover {
  background-color: #04242b !important;
  color: white !important;
}

.stepsClass {
  background-color: #9ba1ac;
  border-radius: 2em;
}
.backgroundDrawer {
  background-color: #fff7ed !important;
}
.backgroundDrawerNigth {
  background-color: #0e131f !important;
  color: white;
}
.backgroundDrawerNigthHeader {
  background-color: #6b7280 !important;
  color: white;
}
.cardEvent {
  border-radius: 2em;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}
.cardEvent:hover {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px,
    rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
}
.cardEventDark:hover {
  box-shadow: rgba(176, 176, 176, 0.343) 0px 20px 25px -5px,
    rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
}
.coverCard {
  height: 15em;
  object-fit: cover;
}
.dayCard {
  background-color: #0b7e8b;
  color: white;
  text-align: center;
  padding: 2em;
  border-radius: 1em;
}
.width100 {
  width: 100%;
}
